<p style="color: green"><%= notice %></p>

<% content_for :title, "Sales" %>
<div class="row justify-content-between">
    <div class="h1-div col pt-4 pb-4 bg-body-tertiary text-center">
      <h1 class="display-2 text-muted text-center">Sales</h1>
      <p>Here, you can <span class="text-primary">create</span>, <span class="text-primary">read</span> or <span class="text-primary">cancel</span> sales from the database.</p>
      <p>
        You are logged in as: <b>{{ get_role(session).name }}</b>
      </p>
    </div>
</div>
<div class="row justify-content-center">
  <%= link_to "New sale", new_sale_path, class: "btn btn-primary w-25 h-25" %>
</div>
<div id="sales">
  <% @sales.active.each do |sale| %>
    <%= render sale %>
    <p>
      <%= link_to "Show this sale", sale %>
    </p>
  <% end %>
</div>


