<%= render @sale %>

<div class="d-flex mb-4">
  <%= link_to sales_path, class: 'btn btn-secondary m-2' do %>
    <button type="button" class="btn btn-secondary p-0">Back to sales</button>
  <% end %>

  <%= button_to 'Cancel sale', @sale, method: :delete, form: { data: { turbo_confirm: 'Are you sure you want to cancel this sale?' } }, class: 'btn btn-danger m-2' %>
</div>
