<% content_for :title, "Editing user" %>

<div class="row justify-content-center">
  <div id="secondary-div-title" class="col my-4 pt-4 pb-4 bg-body-tertiary text-center">
      <h1 class="display-4 text-muted text-center">Editing an User</h1>
      <%= render 'layouts/current_session' %>
  </div>
</div>
<div>

<%= render "edit_form", user: @user %>

