<% content_for :title, "New user" %>

<div class="row justify-content-center">
  <div id="secondary-div-title" class="col my-4 pt-4 pb-4 bg-body-tertiary text-center">
      <h1 class="display-4 text-muted text-center">Add new user</h1>
      <p>Here, you can add a new user to the database.</p>
      <%= render 'layouts/current_session' %>
  </div>
</div>
<div>

<%= render "form", user: @user %>

<br>