<%= render @user %>

<div class="d-flex mb-4">
  <%= link_to users_path, class: 'btn btn-secondary m-2' do %>
    <button type="button" class="btn btn-secondary p-0">Back to users</button>
  <% end %>
  <%= link_to edit_user_path(@user), class: 'btn btn-primary m-2' do %>
    <button type="button" class="btn btn-primary p-0">Edit Profile</button>
  <% end %>

  <%= button_to 'Deactivate user', @user, method: :delete, form: { data: { turbo_confirm: 'Are you sure you want to deactivate this user?' } }, class: 'btn btn-danger m-2' %>
</div>

