  <div class="d-flex justify-content-center align-items-center">
    <div class="p-4 text-center">
      <div class="row">
        <div class="col-12 col-md-8 offset-md-2 text-center">
          <h1 class="title mb-3">Sportswear</h1>
          <p class="text">
             Explore our wide range of sportswear designed to provide you with comfort and performance. Use our search tool to find the products you need and enhance your sports experience with us.  </p>
        </div>
      </div>
    </div>
  </div>